# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# testing
/coverage

# next.js
/.next/
/out/
dist/

# Logs
*.log
logs/
*.gz

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# Tailwind and PostCSS cache
postcss.config.js
tailwind.config.js

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE / Editor specific files
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# Miscellaneous
public/static/*.cache